/* ASPECT BOX DU FORM --*/
.form-aspect {
  display: flex;
  align-items: center;
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 40vh;
  height: 100vw;
  border-radius: 15px;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* ASPECT DU FORMULAIRE*/

.form-log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 5px auto;
  height: 46vw;
  width: 80%;
  border-radius: 10px;
}

#label-email {
  display: flex;
  padding-top: 0.5em;
}

input[type="email"] {
  display: inline-block;
  padding: 5px 28px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#label-mdp {
  display: flex;
}

input[type="password"] {
  display: inline-block;
  padding: 5px 28px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#checkbox-form {
  display: flex;
  padding-top: 0.5em;
}

/* ASPECT BUTTON FERMER*/
#closeButton {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#closeButton:hover,
#closeButton:focus {
  color: red;
  cursor: pointer;
}
