.filters button {
  background-color: #4b923a;
  height: 1.7rem;
  width: 5rem;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  border: none;
}

.filters button:hover {
  transition: 0.5s;
  opacity: 0.6;
}

.filters button:active {
  background-color: #bbe38f;
}

.filters {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 700px) {
  .filters button {
    width: 7rem;
  }
  .filters {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .filters button {
    width: 10rem;
  }
  .filters {
    justify-content: space-evenly;
  }
}
