/*------------------ NAV BAR------------------- */

.nav {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin-inline: auto;
}

#nav__logo {
  width: 3rem;
}

/*-------------LOGO HEADER ------------*/


/* BUTTON HEADER*/

.info-button {
  display: flex;
  flex-direction: column;
}

.info-button button {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
  font-size: 1rem;
  padding: 0.25em;
  margin: 0.25em;
}

#log-in-button {
  background-color: #fff8f1;
  color: #4b923a;
}

#sign-up-button {
  background-color: #4b923a;
  color: white;
}

#sign-up-button,
#log-in-button:hover {
  transition: 0.4s;
  cursor: pointer;
}


#log-in-button:hover {
  background-color: #4b923a;
  color: #fff8f1;
}

#sign-up-button:hover {
  background-color: #fff8f1;
  color: #4b923a;
}

#sign-up-button:hover,
#log-in-button:hover {
  transform: translateY(5px);
}

/*------------ AFFICHAGE POP IN----------------*/

.pop-in {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/*------------------ FORMULAIRE LOG-IN--------------*/

/* ASPECT BOX DU FORM LOG-IN--*/
.form-aspect {
  max-width: 300px;
  margin-inline: auto;
}

/*---------------------------------ASPECT DU FORMULAIRE LOG-IN -----------------------------------*/

.form {
  border-radius: 10px;
  background-color: #fefefe;
  padding: 3.5rem;
  max-width: 300px;
  margin-inline: auto;
}

/*--------- PARTIE DU LOGO ET TITRE--------*/
.form__header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__header > p {
  font-size: 0.8rem;
  text-align: center;
}

.form-log-in img {
  width: 5em;
  border-radius: 10px;
}
#titre-form-log-in {
  margin-top: 0.25em;
}

/*--------- PARTIE DES CASES DU FORMULAIRE--------*/

#label-email {
  display: block;
  margin: 1em 0;
}

input[type="email"] {
  padding: 5px 28px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#label-mdp {
  display: block;
  margin: 1em 0;
}

input[type="password"] {
  padding: 5px 28px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/*--------- PARTIE CHECKBOX ET BOUTON CONNEXION--------*/

.clickToRemember {
  padding: 1rem 0;
}

.checkbox-form {
  display: block;
  margin: 1em 0;
}
.rememberMe {
  margin-left: 1rem;
}
.log-in-button-in-form {
  display: flex;
  justify-content: center;
}

.btnFormLogIn {
  background-color: var(--clr-button);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1rem;
}

.close {
  position: relative;
  font-size: 5rem;
  left: 16rem;
  top: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.close:hover {
  color: var(--clr-button);
  cursor: pointer;
}

/*-------------------------------------- FORMULAIRE SIGN-UP----------------------------------------*/

/* ASPECT BOX DU FORM SIGN-UP --*/

.form-sign-up-aspect {
  max-width: 300px;
  margin-inline: auto;
}

/* ASPECT DU FORMULAIRE SIGN-UP*/

#idBtnSignUp h1 {
  text-align: center;
  margin-bottom: 1rem;
}

#titre-sign-up {
  font-size: 2em;
}

.label {  
  margin: 1em 0;
  display: block;
}

.s-inscrire {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width : 700px ) {

  .info-button {
    display: inline;
  }
  
}