.overflow {
    overflow-x: auto;
    scrollbar-width: none;
    width: 100%;
  }
  
  .container {
    display: inline-flex;
  }
  
  .wrapper {
    width: clamp(15rem, 70vw, 20rem);
    margin: 0.5em;
    transition: width 0.5s;
  }
  
  .product {
    display: grid;
    grid-template-rows: 10rem auto;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(39,61,15, 0.2) 0px 2px 8px 0px;
  }

  .restaurant {
    margin-bottom: 1em;
  }
  
  .background, .map__img {
    background-size: cover;
    background-position: center;
  }
  
  .map {
    transition: all 0.5s;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  
  .show {
    opacity: 1;
    height: 10rem;
  }  
  
  .widden {
    width: clamp(22rem, 90vw, 30rem );
  }
  
  .restaurant-infos {
    padding: 1em;
    font-size: clamp(0.5rem, 5vw, 1rem);
  }
  
  .restaurant-infos > .type {
    font-size: 1em;
  }
  
  .restaurant-infos > .description {
    display: flex;
    justify-content: space-between;
  
  }
  
  
  .lorem {
    padding: 0 1em;
    text-align: justify;
    font-size: 1em;
  }


  @media screen and (min-width: 1100px) {

    .container {
      display: grid;
      grid-template-columns: auto auto auto;
      max-width: 1100px;
      margin-inline: auto;
    }

    .wrapper {
      width: 350px;
    }
  
    
  }