@import url("header.css");
@import url("search.css");
@import url("menu.css");
@import url("map.css");
@import url("footer.css");
@import url("utils.css");
@import url("filters.css");
@import url("text.css");

/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
/* VARIABLES */
:root {
  --clr-fontColor: #333333;
  --clr-backgroundColor: #f3faeb;
  --ff-primary: "Sofia sans", "sans serif";
}

/* ALL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: hidden;
  background-color: var(--clr-backgroundColor);
  color: #273d0f;
}
